{% extends "base.html" %}
{% block title %} Iniciar Sesion {% endblock %}

{% block body %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h3> {{state}} </h3>
</br> 
<form action="/login" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th> <label> Usuario: </label> </th>
      <td> <input type="text" name="username" /> </td>

    </tr>
    <tr></tr>
    <tr>
      <th> <label> Clave:   </label> </th>
      <td> <input type="password" name="password" /> </td>
      
    </tr>
    <tr></tr>
    <tr>
      <td> </td>
      <td> <input type="submit" value="Acceder" /> </td>
    </tr>
  </table>

</form>
{% endblock %}
