{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/bugtracker/error/modificar/guardar/{{ seleccionado.id }}/" method="post">
{% csrf_token %}


    <ul>

Nombre:   <input type="text" name="nombre" /><br />
Apellido: <input type="text" name="apellido" />
Usuario:   <input type="text" name="usuario" /><br />
Correo: <input type="text" name="correo" />
Clave:   <input type="text" name="clave" /><br />
    </ul>

<input type="submit" value="Guardar" />
</form>
