{% extends "base.html" %}
{% block title %} Registrarse {% endblock %}

{% block body %}

{% if mensaje_mensaje %}<p><strong>{{ mensaje_message }}</strong></p>{% endif %}

<a href="/mensajes/entrada/"> Bandeja de Entrada </a> <br/>
<a href="/mensajes/salida/"> Bandeja de Salida </a> <br/>
<a href="/mensajes/send/"> Crear Mensaje </a> <br/>
<br/>
<br/>

<form action="/mensajes/delete_salida/" method="post">
{% csrf_token %}
{% if bandeja %}
    <ul>
    {% for mensaje in bandeja %}
	<input type="radio" name="id" id="id{{ forloop.counter }}" value="{{ mensaje.id_m }}" />
        <label for="id{{ forloop.counter }}"> De:{{ mensaje.emisor }}</label><br/>
	<label for="id{{ forloop.counter }}"> Para:{{ mensaje.receptor }} </label><br/>
        <label for="id{{ forloop.counter }}"> Asunto: {{ mensaje.asunto }}  </label><br/>
	<br/>

    {% endfor %}
    </ul>
{% else %}
    <p>No existen mensajes.</p>
{% endif %}

<input type="submit" value="Eliminar"/>
</form>
{% endblock %}
